<!-- {{welcome}} -->
<!-- {{Foodlist}} -->
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/xiangmu2.png" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Healthy Life Style</h1>
                    <p>Healthy living is within your reach, starting today. Sure, healthy living is a long-term commitment, not a flash-in-the-pan fad. But there are steps you can take right now that will make today healthier than yesterday and pave the way for healthy living tomorrow, too.

Here's your checklist of practical healthy living tips that are ready to go. Let's get started.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/xiangmu3.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Hair Loss Overview.</h1>
                    <p>Hair loss, or alopecia, is a concern for men, women, and children. Treatments for hair loss include medications such as Propecia and Rogaine, hair replacements, and hair restoration.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/xiangmu4.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Skin Care Basics</h1>
                    <p>Wash your face twice daily -- once in the morning and once at night before going to bed. After you cleanse your skin, follow with a toner and moisturizer. Toners help to remove fine traces of oil, dirt, and make-up that you may have missed when cleansing. Moisturizing is necessary even for people with oily skin. Buy a moisturizer that is best suited for your skin type (dry, normal, or oily).</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

 


<div class="site-wrapper" style="margin:0 auto;width:90%">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        

          <div class="inner cover">
            <h1 class="cover-heading">HealthyStyle Step</h1>
            <p class="lead">Make appointments with your doctor and dentist. Catch up on your routine screening and immunizations, and take the opportunity to ask your doctor any questions you might have.
Gauge your girth. Measure your height and weight to check your BMI, and measure your waist circumference to see if you're overweight and if your waistline is putting your health at risk.
Assess your activity. How much physical activity do you get in a typical week? How intense is that activity? How much variety do you get in your activity, and how much do you enjoy it? The CDC recommends that adults get at least two and a half hours per week of moderate-intensity aerobic activity or one hour and 15 minutes per week of vigorous-intensity aerobic activity, plus muscle-strengthening activities at least two days per week.
Keep a food diary. Write down everything you eat for a day -- and no fair skipping the items you're embarrassed about. "The idea is to write it down ... without judgment," says Kathianne Sellers Williams, MEd, RD, LD, a nutritionist, wellness coach, and personal trainer with Cafe Physique in Atlanta. "You can't change what you're not aware of or don't acknowledge."
Check your mood and energy. Healthy living includes emotional wellness and adequate rest. How has your mood been lately? Are you experiencing any symptoms of depression or anxiety? Do you usually sleep well for seven to eight hours a night?
Consider your social network. How strong are your connections with family and friends? Are you plugged in with social or spiritual groups that enrich your life? "People have a fundamental need for positive and lasting relationships," C. Nathan DeWall, assistant professor of psychology at the University of Kentucky, tells WebMD.
If you're not thrilled with the answers to some of those questions, remember that the point is to figure out where you are today so you can set your healthy living goals. It's not about being "good" or "bad," "right" or "wrong."</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>



        </div>

      </div>

    </div>

